In [1]:
from fair_by_design import compute
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from dataset_preprocessing import *
from proxy_detection import return_proxy_variables
from proxy_ops import *

In [2]:
dataset = pd.read_excel('./ULL_complete_database.xlsx', sheet_name='Dataset')

In [3]:
columns_to_drop = ['id_student',
'id_student_original',
'id_year',
'id_grade',
'id_class_group',
'id_school',
'id_student_16_19',
'id_school_16_19',
'student_questionnaire',
'principals_questionnaire',
'family_questionnaire',
'teachers_questionnaire',
'census',
'scores',
]

In [4]:
new_dataset = remove_columns_from_dataset(dataset, columns_to_drop)

In [5]:
new_dataset

,score_MAT,level_MAT,score_LEN,level_LEN,score_ING,level_ING,a1,a2,a3a,a3b,...,p331a,p331b,p331c,p331d,p331e,p331f,p331g,p331j,pfc,rep
0,564.8700,3.0,535.1500,3.0,NaN,NaN,2.0,2007.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,388.3400,1.0,293.7000,1.0,NaN,NaN,1.0,2007.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,386.5900,1.0,514.8100,3.0,NaN,NaN,2.0,2007.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,487.7600,2.0,449.2500,2.0,NaN,NaN,1.0,2007.0,1.0,1.0,...,2.0,2.0,3.0,2.0,3.0,3.0,NaN,NaN,NaN,NaN
4,709.7900,4.0,598.7200,3.0,NaN,NaN,2.0,2007.0,1.0,1.0,...,4.0,NaN,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83852,400.8625,2.0,446.6522,2.0,294.7474,1.0,2.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,4.0,NaN,5.0,3.0,10.0,2.0
83853,597.0243,3.0,632.6043,4.0,633.2966,4.0,2.0,NaN,NaN,NaN,...,3.0,4.0,4.0,4.0,4.0,NaN,5.0,4.0,3.0,2.0
83854,707.9254,4.0,400.2761,2.0,477.5056,2.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83855,522.8511,3.0,656.1601,4.0,540.1122,3.0,2.0,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,8.0,1.0
83856,519.1200,3.0,426.1871,2.0,453.6854,2.0,1.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,2.0